<!DOCTYPE html>
<html>
<head>
<title> About </title>
<h1 style="text-aligh:center;"> MERA ASSIGNMENT </h1>
</head>
<body bgcolor=#A0A0A0
<div align="center">
<h2> <i>The project is an interactive module between the teachers and the students regarding assignments.
The student will upload their assignment with respect to a particular subject and hence the corresponding
subject teacher will assist and evaluate the assignment uploaded by the student. It focuses on the idea of effectively 
using MERA ASSIGNMENT website for a modern day assessment with security and better functionality while the main purpose 
serves it as a medium for saving paper and making internet it's alternative.    </h2>
</i></div><br>
<a href="index.html"> ***MERA ASSIGNMENT***</a>

</body>
</html>