<!DOCTYPE html>
<html>
<head>
<title> Services </title>
<h1 style="text-aligh:center;"> MERA ASSIGNMENT </h1>
</head>
<body bgcolor=#A0A0A0
<div align="center">
<h2> <i> *The very first step for the student will be to signup themself with the website which will contain paramteres
such as Full Name,Last Name,Username,Branch,Class,RollNo and Password.<br>
*The teachers will follow the signup process too with parameters such as FullName,Username,Subject,TeacherID and Password.<br>
*Teachers and Students hence will contain their own login with respect to the website which will require Username and Password
to get Logged Inside the app.<br>
*Students will upload their assignment related o a particuar subject by writing it in any document such as word into 
their devices as each student will be faciliated with enough amount of storage into the web for their assignments.<br>
*The corresponding subject teacher will do assessment of the assignemt which will be only accesible to the teacher and 
no other students which will maintain the security module and thus the teacher can grade it or give remarks accordingly.<br>
*The process of assignments being upload will be handled with respect to cloud as a data storage module with respect to availability of computer
system resources.<br>
*Thus the website manages the effective use of internet and saving papers for future betterment.

</h2>
</i></div><br>
<a href="index.html"> ***MERA ASSIGNMENT*** </a>

</body>
</html>